<div class="main-header">
  <div class="logo-header">
    <a href="{{ url_for('admin.dashboard') }}" class="logo">SpineCare</a>
    <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
  </div>

  <nav class="navbar navbar-header navbar-expand-lg">
    <div class="container-fluid">
      <form class="navbar-left navbar-form nav-search mr-md-3">
        <div class="input-group">
          <input type="text" placeholder="Search ..." class="form-control">
          <div class="input-group-append">
            <span class="input-group-text"><i class="la la-search search-icon"></i></span>
          </div>
        </div>
      </form>

      <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
        <li class="nav-item dropdown">
          <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#">
            <img src="{{ url_for('static', filename='assets/img/profile.jpg') }}" alt="user-img" width="36" class="img-circle">
            <span>{{ session.get('username', 'Admin') }}</span>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <li>
              <div class="user-box">
                <div class="u-img"><img src="{{ url_for('static', filename='assets/img/profile.jpg') }}" alt="user"></div>
                <div class="u-text">
                  <h4>{{ session.get('username', 'Admin') }}</h4>
                  <p class="text-muted">admin@example.com</p>
                </div>
              </div>
            </li>
            <div class="dropdown-divider"></div>
            <a href="{{ url_for('admin.logout') }}" class="btn btn-danger btn-block">Logout</a>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
